.main-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px; 
}
.main-about-text{
    font-size: var(--font-size-name);
}
.main-about-photo{
    width: 150px;
    aspect-ratio: 1 / 1; 
}
.main-fb{
    margin: 40px 0;
}
.main-fb-title{
    margin-bottom: 15px;
    font-size: var(--font-size-name);
}
.main-fb-text{
    text-align: justify;
    font-size: var(--font-size-text);
    line-height: calc(var(--font-size-text) * 2);
}
.main-fb > iframe{
    margin-top: 20px;
    aspect-ratio: 16 / 9;
    width: 560px;
}

@media screen and (max-width: 480px) {
    .main-about-photo{
        width: 60px;
    }
}

@media screen and (max-width: 876px) {
    .main-about-photo{
        width: 90px;
    }
}

@media screen and (max-width: 1024px) {
    .main-fb > iframe{
        width: 100%;
    }
    .main-about-photo{
        width: 110px;
    }
}
